.placeholder {
  position: fixed;
  left: 510px;
  top: 60px;
}
.analytical1 {
  background-color: grey;
  width: 900px;
  height: 400px;
}
.navbar {
  height: 100px;
  width: 100%;
}
.sidebar {
  position
}
.nav.li:hover {
  transform: scale(1.5);
}
.notshow {
  display:none;
}
.map {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
    top: 50px;
}
